[package]
name = "live-server"
version = "0.6.2"
edition = "2021"
authors = ["Lomirus"]
description = "Launch a local network server with live reload feature for static pages."
homepage = "https://github.com/lomirus/live-server"
repository = "https://github.com/lomirus/live-server"
license = "MIT"
keywords = ["live", "server", "web"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
notify = "6.1.1"
tide = "0.16.0"
async-std = { version = "1.10.0", features = ["attributes"] }
tide-websockets = "0.4.0"
uuid = { version = "1.5.0", features = ["v4"] }
clap = { version = "4.4.7", features = ["derive"] }
mime_guess = "2.0.3"
local-ip-address = "0.5.6"
log = "0.4.17"
env_logger = "0.10.1"
notify-debouncer-full = "0.3.1"
