[package]
name = "live-server"
version = "0.5.0"
edition = "2021"
authors = ["Lomirus"]
description = "Launch a local network server with live reload feature for static pages."
homepage = "https://github.com/lomirus/live-server"
repository = "https://github.com/lomirus/live-server"
license = "MIT"
keywords = ["live", "server", "web"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
notify = "4.0.17"
tide = "0.16.0"
async-std = { version = "1.10.0", features = ["attributes"] }
tide-websockets = "0.4.0"
once_cell = "1.9.0"
uuid = { version = "0.8.2", features = ["v4"] }
clap = { version = "3.0.7", features = ["derive"] }
mime_guess = "2.0.3"
local-ip-address = "0.4.7"
colored = "2.0.0"
log = "0.4.17"
